@model MVCAspNetApp.Models.QuizUserAnswer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuizUserAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizQuestion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizQuestionOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizQuestionOption.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
